{% extends 'base.html' %}{% load crispy_forms_tags %}
{% block body_block %}
<div class="card shadow p-3 mb-5 bg-white rounded align-content-center center" style="width: 25rem; height: 30rem;">
    <form action="" method="POST">
        {{form|crispy}}
        {% csrf_token %}
        <br>
        <button style="position: absolute; left: 50%; transform: translate(-50%,0%);" class="btn btn-outline-danger" type="submit" name="Change">Change</button>
    </form>
</div>
{% endblock body_block %}
    